#outer-container {
  background-image: url("/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


@media (min-width: 640px) {
  #outer-container {
    background-image: url("/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: left;
  }
}
