@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


#outer-container {
  background-image: url("../assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#outer-container .inner-container {
  background:rgba(255,255,255,0.0);
}

@media (min-width: 640px) {
  #outer-container {
    background-image: url("../assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: left;
  }
}
